[submodule "data-analysis"]
	path = data-analysis
	url = https://github.com/Otteri/torque-ripple-data.git
[submodule "reinforcement-learning"]
	path = reinforcement-learning
	url = https://github.com/Otteri/torque-ripple-rl.git
[submodule "compensation"]
	path = compensation
	url = https://github.com/Otteri/torque-ripple-compensation.git
[submodule "latex"]
	path = latex
	url = https://github.com/Otteri/torque-ripple-latex.git
