cloudpickle==1.3.0
cycler==0.10.0
future==0.18.2
gym==0.17.1
-e git+https://github.com/Otteri/torque-ripple-rl.git@03aabbca312439cf1c82bd9fb9fa6332ba048ba5#egg=ilmarinen_env&subdirectory=..\..\reinforcement-learning\ilmarinen_gym
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
Pillow==7.1.1
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.14.0
torch==1.5.0+cu92
torchvision==0.6.0+cu92
